

.tool-bar {
    -fx-background-color: #222831;
}

.label {
    -fx-text-fill: #EDEDED;
    -fx-font-size: 20pt;
}

.button {
  -fx-background-color: #E94560;
  -fx-text-fill: #EDEDED;
  -fx-background-radius: 8;
}

.button:hover {
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.3) , 10,0,0,1 );
}

.button:pressed {
  -fx-background-color: #c42f48;
}


/* CSS for field-pick.fxml */
#fieldpick-shadow {
  -fx-background-color:  transparent;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.4) , 10,0,0,1 );
}

#fieldpick-root {
  -fx-background-color: #393E46;
  -fx-font-size: 10pt;
}

/* CSS for result-page.fxml */
#result-header-label {
  -fx-text-fill: #d6d6d6;
  -fx-font-weight: bold;
  -fx-underline: false;
  -fx-font-size: 20pt;
}

#result-pick-label {
  -fx-text-fill: #EDEDED;
  -fx-font-size: 25pt;
  /* -fx-border-color: grey; */
  -fx-background-color: #30343b;
  -fx-padding: 10pt 40pt 10pt 40pt;
}

/* CSS for alertbox.java */
#alert-label {
  -fx-font-size: 10pt;
  -fx-font-weight: bold;
}

#alert-layout {
  -fx-background-color: #292e36;
  -fx-padding: 20;
  -fx-margin: 30;
  -fx-border-style: solid;
  -fx-border-width: 0.1pt;
  -fx-border-color: #1a1d21;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.4) , 10,0,0,1 );
}

#alert-stack {
  -fx-padding: 20;
  -fx-margin: 30;
  -fx-background-color: transparent;
}


/* CSS for toolbar */
#button-toolbar {
  -fx-background-color: transparent;
}

#button-toolbar:hover {
  -fx-icon-color: #E94560;
}

#button-controls {
  -fx-background-color: transparent;
}

#button-controls:hover {
  -fx-icon-color: #E94560;
}


/* CSS for settings.fxml */
#settings-root {
  -fx-background-color: #292e36;

}

#settings-shadow {
  -fx-background-color:  transparent;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.4) , 10,0,0,1 );
}

#settings-label {
  -fx-text-fill: #EDEDED;
  -fx-font-size: 12pt;
}
