.tool-bar {
    -fx-background-color: #222831;
}

.label {
    -fx-text-fill: #EDEDED;
    -fx-font-size: 20pt;
}

.button {
  -fx-background-color: #E94560;
  -fx-text-fill: #EDEDED;
  -fx-background-radius: 8;
}

.button:hover {
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.3) , 10,0,0,1 );
}

.button:pressed {
  -fx-background-color: #c42f48;
}

.text-field:focused {
  -fx-focus-color: #E94560;
-fx-faint-focus-color: transparent;
}

/* CSS for field-pick.fxml */
#fieldpick-shadow {
  -fx-background-color:  transparent;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.4) , 10,0,0,1 );
}

#fieldpick-root {
  -fx-background-color: #393E46;
  -fx-font-size: 10pt;
}

/* CSS for result-page.fxml */
#result-header-label {
  -fx-text-fill: #d6d6d6;
  -fx-font-weight: bold;
  -fx-underline: false;
  -fx-font-size: 20pt;
}

#result-pick-label {
  -fx-text-fill: #EDEDED;
  -fx-font-size: 25pt;
  /* -fx-border-color: grey; */
  -fx-background-color: #30343b;
  -fx-padding: 10pt 40pt 10pt 40pt;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.4) , 10,0,0,1 );
}

/* CSS for alertbox.java */
#alert-label {
  -fx-font-size: 10pt;
  -fx-font-weight: bold;
}

#alert-layout {
  -fx-background-color: #292e36;
  -fx-padding: 20;
  -fx-margin: 30;
  -fx-border-style: solid;
  -fx-border-width: 0.1pt;
  -fx-border-color: #1a1d21;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.4) , 10,0,0,1 );
}

#alert-stack {
  -fx-padding: 20;
  -fx-margin: 30;
  -fx-background-color: transparent;
}


/* CSS for toolbar */
#button-toolbar {
  -fx-background-color: transparent;
}

#button-toolbar:hover {
  -fx-icon-color: #E94560;
}

#button-controls {
  -fx-background-color: transparent;
}

#button-controls:hover {
  -fx-icon-color: #E94560;
}


/* CSS for settings.fxml */
#settings-root {
  -fx-background-color: #292e36;

}

#settings-shadow {
  -fx-background-color:  transparent;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.4) , 10,0,0,1 );
}

#settings-label {
  -fx-text-fill: #EDEDED;
  -fx-font-size: 12pt;
}

/* Styling the slider track */
.jfx-slider > .track {
     -fx-background-color: white;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
     -fx-background-color: #cc2742;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
     -fx-background-color: #cc2742;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
     -fx-background-color: #cc2742;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
     -fx-fill: white;
     -fx-stroke: white;
}

/* ComboBox styling */
.combo-box {
  -fx-background-color: #373f4a;
  -fx-border-radius: 0;
  -fx-text-fill: white;
  -fx-border-color: #373f4a;
}

.combo-box .list-cell {
  -fx-text-fill: white;
  -fx-border-color: #373f4a;
}

.combo-box .list-view .list-cell {
  -fx-text-fill: #EDEDED;
  -fx-background-color: #373f4a;
  -fx-border-color: #373f4a;
}

.combo-box .list-view .list-cell:hover {
  -fx-background-color: #E94560;
}

/* CSS for toggleswitch in settings.fxml */
.styled-toggle .thumb {

	-fx-background-radius: 10;
	-fx-padding: 10;
}

.styled-toggle .thumb-area{
    -fx-background-radius: 10;
    -fx-padding: 10 40 10 40; /* describes length: 50+50 = 100 width, 5+5=10 height */
}

.styled-toggle:selected .thumb-area{
    -fx-background-color: #cc2742;
}

.styled-toggle .label {
    -fx-padding: 0 0 0 0; //label belonging to the toggle at the left side of the toggle with 90 between them
}
